
*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Metallic";
    src: url("./FoodcanPersonalUseBold-nROog.ttf");
}

@font-face {
    font-family: "Rounded Bold";
    src: url("./CurveRoundedBold-8Jm2.ttf");
}

h2 {
    font-family: "Metallic";
    font-size: 10em;
}


.metallic-top-layer {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    position: absolute;
    z-index: 2;
    /* background-color: rgb(140, 99, 179); */
}

.metallic-font {
    text-align: center;
    /* margin-top: 0.5em; */
    color: rgb(55, 55, 55);
}

body {
    /* background-color: rgb(237, 237, 237); */
    background-color: rgb(198, 198, 198);
}

.relative {
    position: relative;
}

.rotate-text-parent {
    height: 80vh;
    width: 80vw;
    position: relative;
}

.child {
    width: 100px;
	height: 100px;
	offset-path: path("M200,0 A200,200 0 1,1 200,400 A200,200 0 1,1 200,0");
    offset-path:  "d=
M 100, 100
    m -75, 0
    a 75,75 0 1,0 150,0
    a 75,75 0 1,0 -150,0";
	offset-rotation: 0deg;
}


.color1 {
    width: 10em;
    height: 1.5em;
}

.color1 h3 {
    color: rgb(170, 170, 170);
    text-align: center;
    font-family: "Rounded Bold";
    font-size: 0.8rem;
}