
*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Metallic";
    src: url("./FoodcanPersonalUseBold-nROog.ttf");
}

@font-face {
    font-family: "Rounded Bold";
    src: url("./CurveRoundedBold-8Jm2.ttf");
}

h2 {
    font-family: "Metallic";
    font-size: 10em;
}


.metallic-top-layer {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    position: absolute;
    z-index: 2;
    /* background-color: rgb(140, 99, 179); */
}

.metallic-font {
    text-align: center;
    /* margin-top: 0.5em; */
    color: rgb(55, 55, 55);
}

body {
    /* background-color: rgb(237, 237, 237); */
    background-color: rgb(198, 198, 198);
}

.relative {
    position: relative;
}

.try {
    /* width: 50px; */
    /* height: 40px; */
    /* margin-top:3em; */
    transform-origin: 90% center;              
    position: absolute;
    background-color: aqua;
    animation: rotate 3s linear reverse infinite;
    width: 30em;
    height: 1em;
    top: 25em;
    left: 30em;
}
.try:nth-child(2) {
    animation-delay: 0.2s;
}

.try:nth-child(3) {
    animation-delay: 0.3s;
}

.try:nth-child(4) {
    animation-delay: 0.4s;
}

.try:nth-child(5) {
    animation-delay: 0.5s;
}

.try:nth-child(6) {
    animation-delay: 0.6s;
}

@keyframes rotate { 
    100% { transform:rotate(-360deg)}
}


.color1 {
    /* width: 10em;
    height: 1.5em; */
}

.color1 h3 {
    color: rgb(170, 170, 170);
    text-align: center;
    font-family: "Rounded Bold";
    font-size: 0.8rem;
}