
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Metallic";
    src: url("./FoodcanPersonalUseBold-nROog.ttf");
}

@font-face {
    font-family: "Rounded Bold";
    src: url("./CurveRoundedBold-8Jm2.ttf");
}

h2 {
    font-family: "Metallic";
    font-size: 10em;
}


.metallic-top-layer {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    position: absolute;
    z-index: 2;
    /* background-color: rgb(140, 99, 179); */
}

.metallic-font {
    text-align: center;
    /* margin-top: 0.5em; */
    color: rgb(55, 55, 55);
}

body {
    background-color: rgb(237, 237, 237);
}

.relative {
    position: relative;
}

.navbar {
    display: inline-flex;
    justify-content: space-around;
    /* align-items: center; */

    /* padding-top: 3em; */
    height: 100vh;
    width: 100vw;
    
    position: absolute;
    /* background-color: rgb(203, 174, 136); */
}

.color1 {
    width: 10em;
    height: 1.5em;

    /* background-color: rgb(61, 61, 61); */
    /* border-radius: 5px; */
}

.color1 h3 {
    color: rgb(170, 170, 170);
    text-align: center;
    font-family: "Rounded Bold";
    font-size: 0.8rem;
}